header {
  background-size: contain;
/*   background-color: 4496FF; */
  background-image:url(../img/pattern.png);

}

header img {
  width: 20%;
}

main {
  width: 70%;
  margin: auto;
}
title-article {
  margin-bottom: 20px;
}
h1 {
  margin-bottom: 10px;
}

h5 {
  margin: 0px;;
}

.subhead {
  color: gray;
}

.link-main-page {
  color: #47ACE4;
  text-decoration: none;
}

.subhead p {
  font-size: small;
  margin-top: 0px;
}

.photo-tim p {
  font-size: small;
}

.hilighted-text {
  background-color: yellow;
}

ul {
  padding-left: 10px;
}