* {
  margin: 0;
}
header {
  background-size: contain;
  background-color: #4496FF;
  background-image:url(../img/pattern.png);

}

header img {
  width: 20%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  padding-left: 250px;
}

main {
  width: 70%;
  margin: auto;
}
.title-article {
  margin-top: 10px;
}

.subhead {
  color: gray;
  font-weight: lighter;
}

h3 {
  font-weight: lighter;
}

.link-main-page {
  color: #47ACE4;
  text-decoration: none;
}

.subhead p {
  font-size: small;
}

.photo-tim {
  margin-top: 20px;
}
.photo-tim p {
  font-size: small;
}

.hilighted-text {
  background-color: yellow;
}

ul {
  padding-left: 10px;
}

table {
  table-layout: fixed ;
  width: 100% ;
  border-collapse: collapse;
}

thead {
  background-color: #47ACE4;
  COLOR: white;
}

.odd-row-color {
  background-color: #A8E1F0;
}
th, td {
  padding: 0;
}
h4 {
  font-size: large;
  margin-top:30px;
  color: grey;
}

.correlated-links div {
  font-size: 25px;
  padding: 20px 100px 100px 10px;
  color: white;
}
.monitor-comp{
  background-image: url(../img/monitor.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.schermo-grafico {
  background-image: url(../img/graph.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}